@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700,900,400italic);
body{
	background:#272a33;
	font-family: 'Roboto', sans-serif;
}
a:hover,a:active{
	text-decoration:none;
}
.row{
	margin:0;
	padding:0;
}
#cabecalho .navbar{
	border:0;
	border-radius:0;
	width:100%;
	height:90px;
	background:#3498db;
	margin:0;
	color:#FFF;
	line-height:90px;
}
#cabecalho .navbar .navbar-header > a, #cabecalho .navbar .navbar-links li > a{
	color:#FFF;
	font-size:30px;
}
@media screen and (max-width: 767px){
	#cabecalho .navbar a{
		font-size:16px;
	}
}
#cabecalho .navbar:after,#cabecalho .navbar .navbar-links:after{
	content:"";
	width:0;
	height:0;
	visible:none;
	clear:both;
}
#cabecalho .navbar .navbar-header{
	float:left;
	display:block;
	width:250px;
	height:90px;
	background:#258cd1;
}
@media screen and (max-width: 767px){
	#cabecalho .navbar .navbar-header{
		width:160px;
		height:90px;
		background:#258cd1;
	}
}
#cabecalho .navbar .navbar-header a{
	padding:0 15px;
	display:block;
	box-shadow:inset 0 0 0 rgba(0,0,0,0);
	transition: box-shadow .3s;
}
#cabecalho .navbar .navbar-header a:hover{
	box-shadow:inset 0 0 100px 100px rgba(0,0,0,.4);
}
#cabecalho .navbar .navbar-links{
	float:right;
}
#cabecalho .navbar .navbar-links ul,#cabecalho .navbar .navbar-links li{
	list-style:none;
	padding:0;
	margin:0;
}
#cabecalho .navbar .navbar-links > li{
	float:left;
	position:relative;
}
@media screen and (max-width: 767px){
	#cabecalho .navbar .navbar-links > li{
		position:inherit;
	}	
}
#cabecalho .navbar .navbar-links li > a{
	display:inline-block;
	padding:0 20px;
	transition:box-shadow .2s, color .5s;
	color:#B5D4E8;
}
@media screen and (max-width: 767px){
	#cabecalho .navbar .navbar-links li > a{
		display:inline-block;
		padding:0 10px;
		transition:box-shadow .2s, color .5s;
		color:#B5D4E8;
	}
}
#cabecalho .navbar .navbar-links li > a:before{
	line-height:90px;
}
#cabecalho .navbar .navbar-links li > a:hover{
	color:#FEFEFE;
	box-shadow:inset 0 0 45px 45px rgba(0,0,0,.3),inset 0 0 0 0 rgba(0,0,0,.3); 
}
#cabecalho .navbar .navbar-links li > a.ativo,#cabecalho .navbar .navbar-links li > a.ativo:hover{
	color:#FFF;
	box-shadow:inset 0 0 45px 45px rgba(0,0,0,.3),inset 0 -90px 0 0 rgba(0,0,0,.1);
}
#cabecalho .navbar .navbar-links .drop-content{
	display:none;
	position:absolute;
	right:0;
	top:90px;
	width:250px;
	min-height:50px;
	background:#FFF;
	color:#555;
	box-shadow:0 3px 0 0 #CCC;
	z-index:9999;
}
#cabecalho .navbar .navbar-links .drop-content:before{  
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	top: -30px;
	right: 25px;
	border:solid transparent;
	border-right-color:#FFF;
	border-width:15px;
	transform: rotate(90deg);
}
@media screen and (max-width: 767px){
	#cabecalho .navbar .navbar-links .drop-content{
		width:100%;
	}
}
#cabecalho .drop-content{
	line-height:normal;
}
#cabecalho .drop-content .conteudo{
	padding:10px;
}
#cabecalho .drop-content .mensagem{
	border:none;
	border-left:2px solid #BBB;
	border-top:1px solid #FFF;
	border-bottom:1px solid #DDD;
	padding:10px 5px;
	position:relative;
}
#cabecalho .drop-content .mensagem > div{
	padding:0;
}
#cabecalho .drop-content .mensagem.urgente{
	border-left:2px solid #e05d6f;
}
#cabecalho .drop-content .mensagem .enviadaEm{
	position:absolute;
	right:5px;
	top:5px;
	font-size:10px;
	color:#AAA;
}
#cabecalho .drop-content .mensagem .usuario{
	font-weight:700;
	padding:5px 0;
}
#cabecalho .drop-content .mensagem .titulo{
	font-weight:300;
	font-size:12px;
	height:42px;
}



#menu{
	position:absolute;
	width:250px;
	color:#FFF;
}
#menu .user-info{
	padding:20px;
	height:80px;
	position:relative;
}
#menu .user-info .user-info-profile-img{
	display:inline-block;
}
#menu .user-info .user-info-profile{
	display:inline-block;
	padding-top:10px;
	position:absolute;
	top:20px;
	left:100px;
}
#menu .user-info .user-info-profile h2,#menu .user-info .user-info-profile h3{
	padding:0;
	margin:0;
}
#menu .user-info .user-info-profile h2{
	font-size:20px;
	font-weight:700;
}
#menu .user-info .user-info-profile h3{
	font-size:14px;
}
#menu .search{
	padding:20px 10px;
}
#menu .search button, #menu .search input{
	border-color:#AAA;
	line-height:34px;
	height:34px;
	padding:0 5px;
}
#menu .search button{
	background:#AAA;
	color:#EEE;
}
#menu .search input{
	background:none;
	color:#EEE;
}
#menu .search input:focus{
	box-shadow:none;
	color:#EEE;
}
#menu .navbar{
	border-radius:0;
	border:0;
	margin:0;
}
#menu .navbar > a{
	display:block;
	padding:20px 0;
	text-align:center;
	color:#999;
	font-weight:700;
	transition:box-shadow .3s, color .6s;
}
#menu .navbar > a .fa:before{
	display:block;
}
#menu .navbar > a > i{
	font-size:2em;
	font-weight:100;
	display:block;
	padding:10px 0;	
}
#menu .navbar > a:hover{
	color:#FFF;
	box-shadow:inset 0 0 100px 0 rgba(0,0,0,.3);
}
#conteudo{
	margin-left:250px;
	min-height:1300px;
	background:#e7e7e7;
	padding:15px;
}
@media screen and (max-width: 991px){
	#conteudo{
		margin-left:0px;
	}
}
#conteudo > h2{
	font-weight:100;
}